<div class="mb-6 text-center">
  <span class="text-3xl font-serif">
    Sign In
  </span>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-11/12 md:w-10/12 xl:w-8/12" }, data: { turbo: false } )  do |f| %>
    <%= render "customer/shared/error_messages", resource: resource %>
    <div class="mb-6">
      <%= f.label :email, class: "mb-2 block text-sm text-gray-600 font-serif " %>
      <%= f.email_field :email, class: "font-serif w-full border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>
    <div class="mb-6">
      <%= f.label :password, class: "mb-2 block text-sm text-gray-600 font-serif " %>
      <%= f.password_field :password, class: "w-full border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>
    <%= f.submit 'Sign In', class: "bg-gray-300 text-gray-700 hover:bg-gray-500 font-serif inline-flex w-full items-center justify-center p-3 text-black duration-100 ease-in-out focus:outline-none cursor-pointer" %>
  <% end %>
</div>

<div class="text-center font-serif">
  <%= render "customer/shared/links" %>
</div>
